In [2]:
import requests
from concurrent.futures.thread import ThreadPoolExecutor
import pandas as pd
from pandarallel import pandarallel # 导入pandarallel,进行并行运算
pandarallel.initialize()  # 初始化并行运算

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [3]:
df = pd.read_csv('./证券代码.csv')
df

         证券代码
0           2
1           2
2           2
3           2
4           2
...       ...
38098  688368
38099  688369
38100  688388
38101  688389
38102  688399

[38103 rows x 1 columns]

In [4]:
# 功能一
def search(num):
    length = len(str(num))
    if length<6:
        num = '0'*(6-length)+str(num)
    print(num)
    try:
        # 输入关键词
        # 向搜索接口发起请求,获取数据
        params = {
            'keyWord': num,
            'maxNum': 10
        }
        r = requests.post('http://www.cninfo.com.cn/new/information/topSearch/query', params=params)
        # 过滤A股
        for i in r.json():
            data = i
            break
        return [data['code'],data['zwjc']]
    except:
        return ['无','无']

In [5]:
company_list = pd.DataFrame(df.证券代码.unique())
company_list

           0
0          2
1          4
2          5
3          6
4          7
...      ...
3644  688368
3645  688369
3646  688388
3647  688389
3648  688399

[3649 rows x 1 columns]

In [7]:
test = company_list[:10]
test

    0
0   2
1   4
2   5
3   6
4   7
5   8
6   9
7  10
8  11
9  12

In [10]:
company_list[['id','企业']] = company_list.apply(lambda x: pd.Series(search(x)),axis=1)
company_list

0    2
Name: 0, dtype: int64
0    4
Name: 1, dtype: int64
0    5
Name: 2, dtype: int64
0    6
Name: 3, dtype: int64
0    7
Name: 4, dtype: int64
0    8
Name: 5, dtype: int64
0    9
Name: 6, dtype: int64
0    10
Name: 7, dtype: int64
0    11
Name: 8, dtype: int64
0    12
Name: 9, dtype: int64
0    14
Name: 10, dtype: int64
0    16
Name: 11, dtype: int64
0    17
Name: 12, dtype: int64
0    19
Name: 13, dtype: int64
0    20
Name: 14, dtype: int64
0    21
Name: 15, dtype: int64
0    22
Name: 16, dtype: int64
0    23
Name: 17, dtype: int64
0    25
Name: 18, dtype: int64
0    26
Name: 19, dtype: int64
0    27
Name: 20, dtype: int64
0    28
Name: 21, dtype: int64
0    29
Name: 22, dtype: int64
0    30
Name: 23, dtype: int64
0    31
Name: 24, dtype: int64
0    32
Name: 25, dtype: int64
0    34
Name: 26, dtype: int64
0    35
Name: 27, dtype: int64
0    36
Name: 28, dtype: int64
0    37
Name: 29, dtype: int64
0    38
Name: 30, dtype: int64
0    39
Name: 31, dtype: int64
0    40
Name: 32, dtype: int64
0    42
Name: 33, dtype: int64
0    43
Name: 34, dtype: int64
0    45
Name: 35, dtype: int64
0    46
Name: 36, dtype: int64
0    48
Name: 37, dtype: int64
0    49
Name: 38, dtype: int64
0    50
Name: 39, dtype: int64
0    55
Name: 40, dtype: int64
0    56
Name: 41, dtype: int64
0    58
Name: 42, dtype: int64
0    59
Name: 43, dtype: int64
0    60
Name: 44, dtype: int64
0    61
Name: 45, dtype: int64
0    62
Name: 46, dtype: int64
0    63
Name: 47, dtype: int64
0    65
Name: 48, dtype: int64
0    66
Name: 49, dtype: int64
0    68
Name: 50, dtype: int64
0    69
Name: 51, dtype: int64
0    70
Name: 52, dtype: int64
0    78
Name: 53, dtype: int64
0    88
Name: 54, dtype: int64
0    89
Name: 55, dtype: int64
0    90
Name: 56, dtype: int64
0    96
Name: 57, dtype: int64
0    99
Name: 58, dtype: int64
0    100
Name: 59, dtype: int64
0    150
Name: 60, dtype: int64
0    151
Name: 61, dtype: int64
0    153
Name: 62, dtype: int64
0    155
Name: 63, dtype: int64
0    156
Name: 64, dtype: int64
0    157
Name: 65, dtype: int64
0    158
Name: 66, dtype: int64
0    159
Name: 67, dtype: int64
0    301
Name: 68, dtype: int64
0    333
Name: 69, dtype: int64
0    338
Name: 70, dtype: int64
0    400
Name: 71, dtype: int64
0    401
Name: 72, dtype: int64
0    402
Name: 73, dtype: int64
0    403
Name: 74, dtype: int64
0    404
Name: 75, dtype: int64
0    407
Name: 76, dtype: int64
0    408
Name: 77, dtype: int64
0    409
Name: 78, dtype: int64
0    410
Name: 79, dtype: int64
0    411
Name: 80, dtype: int64
0    413
Name: 81, dtype: int64
0    415
Name: 82, dtype: int64
0    416
Name: 83, dtype: int64
0    417
Name: 84, dtype: int64
0    419
Name: 85, dtype: int64
0    420
Name: 86, dtype: int64
0    421
Name: 87, dtype: int64
0    422
Name: 88, dtype: int64
0    423
Name: 89, dtype: int64
0    425
Name: 90, dtype: int64
0    426
Name: 91, dtype: int64
0    428
Name: 92, dtype: int64
0    429
Name: 93, dtype: int64
0    430
Name: 94, dtype: int64
0    488
Name: 95, dtype: int64
0    498
Name: 96, dtype: int64
0    501
Name: 97, dtype: int64
0    502
Name: 98, dtype: int64
0    503
Name: 99, dtype: int64
0    504
Name: 100, dtype: int64
0    505
Name: 101, dtype: int64
0    506
Name: 102, dtype: int64
0    507
Name: 103, dtype: int64
0    509
Name: 104, dtype: int64
0    510
Name: 105, dtype: int64
0    513
Name: 106, dtype: int64
0    514
Name: 107, dtype: int64
0    516
Name: 108, dtype: int64
0    517
Name: 109, dtype: int64
0    518
Name: 110, dtype: int64
0    519
Name: 111, dtype: int64
0    520
Name: 112, dtype: int64
0    521
Name: 113, dtype: int64
0    523
Name: 114, dtype: int64
0    524
Name: 115, dtype: int64
0    525
Name: 116, dtype: int64
0    526
Name: 117, dtype: int64
0    528
Name: 118, dtype: int64
0    529
Name: 119, dtype: int64
0    530
Name: 120, dtype: int64
0    531
Name: 121, dtype: int64
0    532
Name: 122, dtype: int64
0    533
Name: 123, dtype: int64
0    534
Name: 124, dtype: int64
0    536
Name: 125, dtype: int64
0    537
Name: 126, dtype: int64
0    538
Name: 127, dtype: int64
0    539
Name: 128, dtype: int64
0    540
Name: 129, dtype: int64
0    541
Name: 130, dtype: int64
0    543
Name: 131, dtype: int64
0    544
Name: 132, dtype: int64
0    545
Name: 133, dtype: int64
0    546
Name: 134, dtype: int64
0    547
Name: 135, dtype: int64
0    548
Name: 136, dtype: int64
0    550
Name: 137, dtype: int64
0    551
Name: 138, dtype: int64
0    552
Name: 139, dtype: int64
0    553
Name: 140, dtype: int64
0    554
Name: 141, dtype: int64
0    555
Name: 142, dtype: int64
0    557
Name: 143, dtype: int64
0    558
Name: 144, dtype: int64
0    559
Name: 145, dtype: int64
0    560
Name: 146, dtype: int64
0    561
Name: 147, dtype: int64
0    564
Name: 148, dtype: int64
0    565
Name: 149, dtype: int64
0    566
Name: 150, dtype: int64
0    567
Name: 151, dtype: int64
0    568
Name: 152, dtype: int64
0    570
Name: 153, dtype: int64
0    571
Name: 154, dtype: int64
0    572
Name: 155, dtype: int64
0    573
Name: 156, dtype: int64
0    576
Name: 157, dtype: int64
0    581
Name: 158, dtype: int64
0    582
Name: 159, dtype: int64
0    584
Name: 160, dtype: int64
0    585
Name: 161, dtype: int64
0    586
Name: 162, dtype: int64
0    587
Name: 163, dtype: int64
0    589
Name: 164, dtype: int64
0    590
Name: 165, dtype: int64
0    591
Name: 166, dtype: int64
0    592
Name: 167, dtype: int64
0    593
Name: 168, dtype: int64
0    595
Name: 169, dtype: int64
0    596
Name: 170, dtype: int64
0    597
Name: 171, dtype: int64
0    598
Name: 172, dtype: int64
0    599
Name: 173, dtype: int64
0    600
Name: 174, dtype: int64
0    601
Name: 175, dtype: int64
0    603
Name: 176, dtype: int64
0    605
Name: 177, dtype: int64
0    606
Name: 178, dtype: int64
0    607
Name: 179, dtype: int64
0    608
Name: 180, dtype: int64
0    609
Name: 181, dtype: int64
0    610
Name: 182, dtype: int64
0    611
Name: 183, dtype: int64
0    612
Name: 184, dtype: int64
0    613
Name: 185, dtype: int64
0    615
Name: 186, dtype: int64
0    616
Name: 187, dtype: int64
0    617
Name: 188, dtype: int64
0    619
Name: 189, dtype: int64
0    620
Name: 190, dtype: int64
0    622
Name: 191, dtype: int64
0    623
Name: 192, dtype: int64
0    625
Name: 193, dtype: int64
0    626
Name: 194, dtype: int64
0    627
Name: 195, dtype: int64
0    628
Name: 196, dtype: int64
0    629
Name: 197, dtype: int64
0    630
Name: 198, dtype: int64
0    631
Name: 199, dtype: int64
0    632
Name: 200, dtype: int64
0    633
Name: 201, dtype: int64
0    635
Name: 202, dtype: int64
0    636
Name: 203, dtype: int64
0    637
Name: 204, dtype: int64
0    638
Name: 205, dtype: int64
0    639
Name: 206, dtype: int64
0    650
Name: 207, dtype: int64
0    651
Name: 208, dtype: int64
0    652
Name: 209, dtype: int64
0    655
Name: 210, dtype: int64
0    656
Name: 211, dtype: int64
0    657
Name: 212, dtype: int64
0    659
Name: 213, dtype: int64
0    661
Name: 214, dtype: int64
0    663
Name: 215, dtype: int64
0    665
Name: 216, dtype: int64
0    666
Name: 217, dtype: int64
0    667
Name: 218, dtype: int64
0    668
Name: 219, dtype: int64
0    669
Name: 220, dtype: int64
0    670
Name: 221, dtype: int64
0    671
Name: 222, dtype: int64
0    672
Name: 223, dtype: int64
0    673
Name: 224, dtype: int64
0    676
Name: 225, dtype: int64
0    677
Name: 226, dtype: int64
0    678
Name: 227, dtype: int64
0    679
Name: 228, dtype: int64
0    680
Name: 229, dtype: int64
0    681
Name: 230, dtype: int64
0    682
Name: 231, dtype: int64
0    683
Name: 232, dtype: int64
0    685
Name: 233, dtype: int64
0    687
Name: 234, dtype: int64
0    688
Name: 235, dtype: int64
0    690
Name: 236, dtype: int64
0    691
Name: 237, dtype: int64
0    692
Name: 238, dtype: int64
0    695
Name: 239, dtype: int64
0    697
Name: 240, dtype: int64
0    698
Name: 241, dtype: int64
0    700
Name: 242, dtype: int64
0    701
Name: 243, dtype: int64
0    702
Name: 244, dtype: int64
0    703
Name: 245, dtype: int64
0    705
Name: 246, dtype: int64
0    707
Name: 247, dtype: int64
0    708
Name: 248, dtype: int64
0    709
Name: 249, dtype: int64
0    710
Name: 250, dtype: int64
0    711
Name: 251, dtype: int64
0    712
Name: 252, dtype: int64
0    713
Name: 253, dtype: int64
0    715
Name: 254, dtype: int64
0    716
Name: 255, dtype: int64
0    717
Name: 256, dtype: int64
0    718
Name: 257, dtype: int64
0    719
Name: 258, dtype: int64
0    720
Name: 259, dtype: int64
0    721
Name: 260, dtype: int64
0    722
Name: 261, dtype: int64
0    723
Name: 262, dtype: int64
0    725
Name: 263, dtype: int64
0    726
Name: 264, dtype: int64
0    727
Name: 265, dtype: int64
0    729
Name: 266, dtype: int64
0    731
Name: 267, dtype: int64
0    732
Name: 268, dtype: int64
0    733
Name: 269, dtype: int64
0    735
Name: 270, dtype: int64
0    736
Name: 271, dtype: int64
0    737
Name: 272, dtype: int64
0    738
Name: 273, dtype: int64
0    739
Name: 274, dtype: int64
0    750
Name: 275, dtype: int64
0    751
Name: 276, dtype: int64
0    752
Name: 277, dtype: int64
0    753
Name: 278, dtype: int64
0    755
Name: 279, dtype: int64
0    756
Name: 280, dtype: int64
0    757
Name: 281, dtype: int64
0    758
Name: 282, dtype: int64
0    759
Name: 283, dtype: int64
0    760
Name: 284, dtype: int64
0    761
Name: 285, dtype: int64
0    762
Name: 286, dtype: int64
0    766
Name: 287, dtype: int64
0    767
Name: 288, dtype: int64
0    768
Name: 289, dtype: int64
0    776
Name: 290, dtype: int64
0    777
Name: 291, dtype: int64
0    778
Name: 292, dtype: int64
0    779
Name: 293, dtype: int64
0    780
Name: 294, dtype: int64
0    782
Name: 295, dtype: int64
0    785
Name: 296, dtype: int64
0    786
Name: 297, dtype: int64
0    788
Name: 298, dtype: int64
0    789
Name: 299, dtype: int64
0    790
Name: 300, dtype: int64
0    791
Name: 301, dtype: int64
0    792
Name: 302, dtype: int64
0    793
Name: 303, dtype: int64
0    795
Name: 304, dtype: int64
0    796
Name: 305, dtype: int64
0    797
Name: 306, dtype: int64
0    798
Name: 307, dtype: int64
0    799
Name: 308, dtype: int64
0    800
Name: 309, dtype: int64
0    801
Name: 310, dtype: int64
0    802
Name: 311, dtype: int64
0    803
Name: 312, dtype: int64
0    806
Name: 313, dtype: int64
0    807
Name: 314, dtype: int64
0    809
Name: 315, dtype: int64
0    810
Name: 316, dtype: int64
0    811
Name: 317, dtype: int64
0    812
Name: 318, dtype: int64
0    813
Name: 319, dtype: int64
0    815
Name: 320, dtype: int64
0    816
Name: 321, dtype: int64
0    818
Name: 322, dtype: int64
0    819
Name: 323, dtype: int64
0    820
Name: 324, dtype: int64
0    821
Name: 325, dtype: int64
0    822
Name: 326, dtype: int64
0    823
Name: 327, dtype: int64
0    825
Name: 328, dtype: int64
0    826
Name: 329, dtype: int64
0    828
Name: 330, dtype: int64
0    829
Name: 331, dtype: int64
0    830
Name: 332, dtype: int64
0    831
Name: 333, dtype: int64
0    833
Name: 334, dtype: int64
0    835
Name: 335, dtype: int64
0    836
Name: 336, dtype: int64
0    837
Name: 337, dtype: int64
0    838
Name: 338, dtype: int64
0    839
Name: 339, dtype: int64
0    848
Name: 340, dtype: int64
0    850
Name: 341, dtype: int64
0    851
Name: 342, dtype: int64
0    852
Name: 343, dtype: int64
0    856
Name: 344, dtype: int64
0    858
Name: 345, dtype: int64
0    859
Name: 346, dtype: int64
0    860
Name: 347, dtype: int64
0    861
Name: 348, dtype: int64
0    862
Name: 349, dtype: int64
0    863
Name: 350, dtype: int64
0    868
Name: 351, dtype: int64
0    869
Name: 352, dtype: int64
0    875
Name: 353, dtype: int64
0    876
Name: 354, dtype: int64
0    877
Name: 355, dtype: int64
0    878
Name: 356, dtype: int64
0    880
Name: 357, dtype: int64
0    881
Name: 358, dtype: int64
0    882
Name: 359, dtype: int64
0    883
Name: 360, dtype: int64
0    885
Name: 361, dtype: int64
0    886
Name: 362, dtype: int64
0    887
Name: 363, dtype: int64
0    888
Name: 364, dtype: int64
0    889
Name: 365, dtype: int64
0    890
Name: 366, dtype: int64
0    892
Name: 367, dtype: int64
0    893
Name: 368, dtype: int64
0    895
Name: 369, dtype: int64
0    897
Name: 370, dtype: int64
0    898
Name: 371, dtype: int64
0    899
Name: 372, dtype: int64
0    900
Name: 373, dtype: int64
0    901
Name: 374, dtype: int64
0    902
Name: 375, dtype: int64
0    903
Name: 376, dtype: int64
0    905
Name: 377, dtype: int64
0    906
Name: 378, dtype: int64
0    908
Name: 379, dtype: int64
0    909
Name: 380, dtype: int64
0    910
Name: 381, dtype: int64
0    911
Name: 382, dtype: int64
0    912
Name: 383, dtype: int64
0    913
Name: 384, dtype: int64
0    915
Name: 385, dtype: int64
0    917
Name: 386, dtype: int64
0    918
Name: 387, dtype: int64
0    919
Name: 388, dtype: int64
0    920
Name: 389, dtype: int64
0    921
Name: 390, dtype: int64
0    922
Name: 391, dtype: int64
0    923
Name: 392, dtype: int64
0    925
Name: 393, dtype: int64
0    926
Name: 394, dtype: int64
0    927
Name: 395, dtype: int64
0    928
Name: 396, dtype: int64
0    929
Name: 397, dtype: int64
0    930
Name: 398, dtype: int64
0    931
Name: 399, dtype: int64
0    932
Name: 400, dtype: int64
0    933
Name: 401, dtype: int64
0    935
Name: 402, dtype: int64
0    936
Name: 403, dtype: int64
0    937
Name: 404, dtype: int64
0    938
Name: 405, dtype: int64
0    948
Name: 406, dtype: int64
0    949
Name: 407, dtype: int64
0    950
Name: 408, dtype: int64
0    951
Name: 409, dtype: int64
0    952
Name: 410, dtype: int64
0    953
Name: 411, dtype: int64
0    955
Name: 412, dtype: int64
0    957
Name: 413, dtype: int64
0    958
Name: 414, dtype: int64
0    959
Name: 415, dtype: int64
0    960
Name: 416, dtype: int64
0    961
Name: 417, dtype: int64
0    962
Name: 418, dtype: int64
0    963
Name: 419, dtype: int64
0    965
Name: 420, dtype: int64
0    966
Name: 421, dtype: int64
0    967
Name: 422, dtype: int64
0    968
Name: 423, dtype: int64
0    969
Name: 424, dtype: int64
0    970
Name: 425, dtype: int64
0    971
Name: 426, dtype: int64
0    972
Name: 427, dtype: int64
0    973
Name: 428, dtype: int64
0    975
Name: 429, dtype: int64
0    976
Name: 430, dtype: int64
0    977
Name: 431, dtype: int64
0    978
Name: 432, dtype: int64
0    980
Name: 433, dtype: int64
0    981
Name: 434, dtype: int64
0    982
Name: 435, dtype: int64
0    983
Name: 436, dtype: int64
0    985
Name: 437, dtype: int64
0    987
Name: 438, dtype: int64
0    988
Name: 439, dtype: int64
0    989
Name: 440, dtype: int64
0    990
Name: 441, dtype: int64
0    993
Name: 442, dtype: int64
0    995
Name: 443, dtype: int64
0    996
Name: 444, dtype: int64
0    997
Name: 445, dtype: int64
0    998
Name: 446, dtype: int64
0    999
Name: 447, dtype: int64
0    1696
Name: 448, dtype: int64
0    1896
Name: 449, dtype: int64
0    1914
Name: 450, dtype: int64
0    1965
Name: 451, dtype: int64
0    1979
Name: 452, dtype: int64
0    2001
Name: 453, dtype: int64
0    2002
Name: 454, dtype: int64
0    2003
Name: 455, dtype: int64
0    2004
Name: 456, dtype: int64
0    2005
Name: 457, dtype: int64
0    2006
Name: 458, dtype: int64
0    2007
Name: 459, dtype: int64
0    2008
Name: 460, dtype: int64
0    2009
Name: 461, dtype: int64
0    2010
Name: 462, dtype: int64
0    2011
Name: 463, dtype: int64
0    2012
Name: 464, dtype: int64
0    2013
Name: 465, dtype: int64
0    2014
Name: 466, dtype: int64
0    2015
Name: 467, dtype: int64
0    2016
Name: 468, dtype: int64
0    2017
Name: 469, dtype: int64
0    2019
Name: 470, dtype: int64
0    2020
Name: 471, dtype: int64
0    2021
Name: 472, dtype: int64
0    2022
Name: 473, dtype: int64
0    2023
Name: 474, dtype: int64
0    2024
Name: 475, dtype: int64
0    2025
Name: 476, dtype: int64
0    2026
Name: 477, dtype: int64
0    2027
Name: 478, dtype: int64
0    2028
Name: 479, dtype: int64
0    2029
Name: 480, dtype: int64
0    2030
Name: 481, dtype: int64
0    2031
Name: 482, dtype: int64
0    2032
Name: 483, dtype: int64
0    2033
Name: 484, dtype: int64
0    2034
Name: 485, dtype: int64
0    2035
Name: 486, dtype: int64
0    2036
Name: 487, dtype: int64
0    2037
Name: 488, dtype: int64
0    2038
Name: 489, dtype: int64
0    2039
Name: 490, dtype: int64
0    2040
Name: 491, dtype: int64
0    2041
Name: 492, dtype: int64
0    2042
Name: 493, dtype: int64
0    2043
Name: 494, dtype: int64
0    2044
Name: 495, dtype: int64
0    2045
Name: 496, dtype: int64
0    2046
Name: 497, dtype: int64
0    2047
Name: 498, dtype: int64
0    2048
Name: 499, dtype: int64
0    2049
Name: 500, dtype: int64
0    2050
Name: 501, dtype: int64
0    2051
Name: 502, dtype: int64
0    2052
Name: 503, dtype: int64
0    2053
Name: 504, dtype: int64
0    2054
Name: 505, dtype: int64
0    2055
Name: 506, dtype: int64
0    2056
Name: 507, dtype: int64
0    2057
Name: 508, dtype: int64
0    2058
Name: 509, dtype: int64
0    2059
Name: 510, dtype: int64
0    2060
Name: 511, dtype: int64
0    2061
Name: 512, dtype: int64
0    2062
Name: 513, dtype: int64
0    2063
Name: 514, dtype: int64
0    2064
Name: 515, dtype: int64
0    2065
Name: 516, dtype: int64
0    2066
Name: 517, dtype: int64
0    2067
Name: 518, dtype: int64
0    2068
Name: 519, dtype: int64
0    2069
Name: 520, dtype: int64
0    2071
Name: 521, dtype: int64
0    2072
Name: 522, dtype: int64
0    2073
Name: 523, dtype: int64
0    2074
Name: 524, dtype: int64
0    2075
Name: 525, dtype: int64
0    2076
Name: 526, dtype: int64
0    2077
Name: 527, dtype: int64
0    2078
Name: 528, dtype: int64
0    2079
Name: 529, dtype: int64
0    2080
Name: 530, dtype: int64
0    2081
Name: 531, dtype: int64
0    2082
Name: 532, dtype: int64
0    2083
Name: 533, dtype: int64
0    2084
Name: 534, dtype: int64
0    2085
Name: 535, dtype: int64
0    2086
Name: 536, dtype: int64
0    2087
Name: 537, dtype: int64
0    2088
Name: 538, dtype: int64
0    2089
Name: 539, dtype: int64
0    2090
Name: 540, dtype: int64
0    2091
Name: 541, dtype: int64
0    2092
Name: 542, dtype: int64
0    2093
Name: 543, dtype: int64
0    2094
Name: 544, dtype: int64
0    2095
Name: 545, dtype: int64
0    2096
Name: 546, dtype: int64
0    2097
Name: 547, dtype: int64
0    2098
Name: 548, dtype: int64
0    2099
Name: 549, dtype: int64
0    2100
Name: 550, dtype: int64
0    2101
Name: 551, dtype: int64
0    2102
Name: 552, dtype: int64
0    2103
Name: 553, dtype: int64
0    2104
Name: 554, dtype: int64
0    2105
Name: 555, dtype: int64
0    2106
Name: 556, dtype: int64
0    2107
Name: 557, dtype: int64
0    2108
Name: 558, dtype: int64
0    2109
Name: 559, dtype: int64
0    2110
Name: 560, dtype: int64
0    2111
Name: 561, dtype: int64
0    2112
Name: 562, dtype: int64
0    2113
Name: 563, dtype: int64
0    2114
Name: 564, dtype: int64
0    2115
Name: 565, dtype: int64
0    2116
Name: 566, dtype: int64
0    2117
Name: 567, dtype: int64
0    2118
Name: 568, dtype: int64
0    2119
Name: 569, dtype: int64
0    2120
Name: 570, dtype: int64
0    2121
Name: 571, dtype: int64
0    2122
Name: 572, dtype: int64
0    2123
Name: 573, dtype: int64
0    2124
Name: 574, dtype: int64
0    2125
Name: 575, dtype: int64
0    2126
Name: 576, dtype: int64
0    2127
Name: 577, dtype: int64
0    2128
Name: 578, dtype: int64
0    2129
Name: 579, dtype: int64
0    2130
Name: 580, dtype: int64
0    2131
Name: 581, dtype: int64
0    2132
Name: 582, dtype: int64
0    2133
Name: 583, dtype: int64
0    2134
Name: 584, dtype: int64
0    2135
Name: 585, dtype: int64
0    2136
Name: 586, dtype: int64
0    2137
Name: 587, dtype: int64
0    2138
Name: 588, dtype: int64
0    2139
Name: 589, dtype: int64
0    2140
Name: 590, dtype: int64
0    2141
Name: 591, dtype: int64
0    2144
Name: 592, dtype: int64
0    2145
Name: 593, dtype: int64
0    2146
Name: 594, dtype: int64
0    2147
Name: 595, dtype: int64
0    2148
Name: 596, dtype: int64
0    2149
Name: 597, dtype: int64
0    2150
Name: 598, dtype: int64
0    2151
Name: 599, dtype: int64
0    2152
Name: 600, dtype: int64
0    2153
Name: 601, dtype: int64
0    2154
Name: 602, dtype: int64
0    2155
Name: 603, dtype: int64
0    2156
Name: 604, dtype: int64
0    2157
Name: 605, dtype: int64
0    2158

           0      id    企业
0          2  000002   万科Ａ
1          4  000004  ST国华
2          5  000005  ST星源
3          6  000006  深振业Ａ
4          7  000007   全新好
...      ...     ...   ...
3644  688368  688368  晶丰明源
3645  688369  688369  致远互联
3646  688388  688388  嘉元科技
3647  688389  688389  普门科技
3648  688399  688399  硕世生物

[3649 rows x 3 columns]

In [12]:
company_list.to_csv('company_list.csv',index=False)

In [30]:
company_list[company_list['企业']=='无']

           0 id 企业
417      961  无  无
442      993  无  无
933     2488  无  无
2159  300811  无  无
2273  600150  无  无
2308  600190  无  无
3101  603005  无  无
3127  603035  无  无
3132  603040  无  无

In [34]:
df['id'] = df.apply(lambda x:search(x[0])[0] if x.0=='无' else x.id,axis=1)
df['企业'] = df.apply(lambda x:search(x[0])[1] if x.0=='无' else x.企业 axis=1)
df

SyntaxError: expected 'else' after 'if' expression (3097903461.py, line 1)

In [27]:
non = company_list[company_list['企业']=='无'][0]
non

417        961
442        993
933       2488
2159    300811
2273    600150
2308    600190
3101    603005
3127    603035
3132    603040
Name: 0, dtype: int64

In [28]:
re =[search(i) for i in non]

000961
000993
002488
300811
600150
600190
603005
603035
603040

In [ ]:
for i in

In [29]:
re

[['000961', '中南建设'],
 ['000993', '闽东电力'],
 ['002488', '金固股份'],
 ['300811', '铂科新材'],
 ['600150', '中国船舶'],
 ['600190', '锦州港'],
 ['603005', '晶方科技'],
 ['603035', '常熟汽饰'],
 ['603040', '新坐标']]

In [ ]:
compaly

In [17]:
df.apply(lambda x:company_list[company_list[0]==x.证券代码].id.values[0],axis=1)

0        000002
1        000002
2        000002
3        000002
4        000002
          ...
38098    688368
38099    688369
38100    688388
38101    688389
38102    688399
Length: 38103, dtype: object

In [21]:
df['id'] = df.apply(lambda x:company_list[company_list[0]==x.证券代码].id.values[0],axis=1)
df['企业'] = df.apply(lambda x:company_list[company_list[0]==x.证券代码].企业.values[0],axis=1)
df

         证券代码      id    企业
0           2  000002   万科Ａ
1           2  000002   万科Ａ
2           2  000002   万科Ａ
3           2  000002   万科Ａ
4           2  000002   万科Ａ
...       ...     ...   ...
38098  688368  688368  晶丰明源
38099  688369  688369  致远互联
38100  688388  688388  嘉元科技
38101  688389  688389  普门科技
38102  688399  688399  硕世生物

[38103 rows x 3 columns]

In [24]:
df.to_csv('/Users/nanapower/学习资料/python_learnning/模块与项目/AI/图灵AI/巨潮资讯/年报爬取/政策代码获取结果.csv',index=False)

In [ ]:
pd.merge()